$internal-gap: 16px;
$input-color: color-mix(in srgb, var(--text) 60%, black 40%);

@mixin flex-container ($direction, $gap) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}

.contacts {
    min-height: calc(100vh - 60px);
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        line-height: 0.8;
        font-size: 2rem;
        margin-bottom: 20px;

        span {
            color: transparent;
            background-clip: text;
            background-image: linear-gradient(-45deg, var(--accent-light) 0%, var(--accent-dark) 100%);
            background-size: 400% 400%;
	        animation: text-gradient 3s ease infinite;

            font-weight: bold;
            font-size: 3.5rem;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 24px;

    background-color: color-mix(in srgb, var(--bg) 90%, var(--mixing-color) 10%);

    min-width: 320px;
    padding: 30px;
    border: 1px solid var(--border);
    border-radius: 20px;

    label, legend {
        color: var(--text);
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1;
    }

    input {
        max-width: 320px;
    }

    .messageSubject {
        width: calc(50% - 0.5 * $internal-gap);
    }

    input, textarea {
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        color: $input-color;
        background-color: var(--bg);

        padding: 10px;
        border: 1px solid var(--border);
        border-radius: 7px;

        resize: none;
        scrollbar-color: var(--border) var(--bg);

        &::placeholder {
            color: $input-color;
        }
    }
}

.subjectLabel {
    display: none;
}

.button {
    width: auto;
    padding: 8px 12px;
    border: none;
    border-radius: 7px;

    font-size: 1.2rem;
    color: var(--text-white);
    background-color: var(--primary);

    transition: background-color ease-in-out 0.1s;
    cursor: pointer;
    &:hover {
        background-color: var(--accent-dark);
    }
}

.userData {
    @include flex-container(row, $internal-gap);
    width: 100%
}

.messageData {
    @include flex-container(column, 10px);
    width: 100%;
}

.userData div, .messageData div {
    @include flex-container(column, 10px);
}

@keyframes text-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (max-width: 600px) {
    form {
        gap: $internal-gap !important;
    }

    .userData {
        flex-direction: column;
    }
    
    .messageSubject {
        width: 80% !important;
    }
}