header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    border-bottom: 1px solid var(--border);
    box-sizing: border-box;
    background-color: var(--background);
    width: 100vw;
    margin: 0;
    padding: 0.8lh 12vw;
    font-size: 1.1rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logonav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 1.6lh;
    fill: var(--primary);
    stroke-width: 0;
    margin-right: 6vw;
}