header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    border-bottom: 1px solid var(--border);
    box-sizing: border-box;
    width: 100vw;
    height: 68px;
    margin: 0;
    padding: 0.8lh 12vw;

    background-color: var(--bg);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logonav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav {
    margin-left: 6vw;
    font-size: 1.4rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.8rem;

    * {
        cursor: pointer;
    }
}

.toggles {
    font-size: 1.4rem;
    font-weight: bold;

    padding: 9px 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    cursor: pointer;

    svg {
        width: 0.8lh;
        height: 0.8lh;
        fill: var(--text);
    }
}