.standards {
    display: flex;
    flex-direction: column;
    h2 {
        color: var(--secondary);
    }
    span {
        color: var(--secondary);
        font-size: 1.15em;
    }
    b {
        font-weight: bolder;
    }
    ul {
        padding: 0 !important;
        > :nth-child(-n+3) {
            border-right: 1px solid var(--secondary);
        }
        li li {
            border-right: none !important;
        }
    }
    > div > ul {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 330px 330px 330px 330px;
        justify-content: center;
        > li {
            text-align: center;
            margin-top: 0 !important;
        }
        ul li {
            padding: 0 55px;
            text-align: left;
        }
    }
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    height: 1lh;
    margin-right: 0.8rem;
    transform: translateY(4px);

    fill: var(--secondary);
}