.standards {
    display: flex;
    flex-direction: column;
    h2 {
        color: var(--secondary);
    }
    span {
        color: var(--secondary);
        font-size: 1.15em;
    }
    b {
        font-weight: bolder;
    }
    ul {
        padding: 0 !important;
        > :nth-child(-n+3) {
            border-right: 2px solid var(--secondary);
        }
        li li {
            border-right: none !important;
        }
    }
    > div > ul {
        display: grid;
        grid-template-columns: 330px 330px 330px 330px;
        justify-content: center;
        > li {
            text-align: center;
            margin-top: 0 !important;
        }
        ul li {
            padding: 0 55px;
            text-align: left;
        }
    }
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    height: 1lh;
    margin-right: 0.8rem;
    transform: translateY(4px);

    fill: var(--secondary);
}

@media (max-width: 1350px) {
    .standards {
        ul {
            padding: 0 !important;
            > :nth-child(-n+3) {
                border-right: none;
                border-bottom: 1px solid var(--secondary);
                padding-bottom: 15px;
            }
            > :nth-child(n+2):nth-child(-n+4) {
                padding-top: 15px;
            }
            li li {
                border-bottom: none !important;
            }
        }
        
        > div > ul {
            display: grid;
            grid-template-columns: none;
            > li {
                width: 330px;
            }
        }
    }
}