$light-blue: #203fd9;
$dark-blue: #1f3ac4;

:root {
  --text: #070708;
  --text-inverse: #d5dbe1;
  --text-black: #070708;
  --text-white: #d5dbe1;

  --background: #d5dbe1;
  --primary: #{$light-blue};
  --secondary: color-mix(in srgb, #{$light-blue}, black 10%);
  --accent-dark: color-mix(in srgb, #{$light-blue}, black 15%);
  --accent-light: color-mix(in srgb, #{$light-blue}, white 15%);
  --border: #a6b4bf;
}

@media (prefers-color-scheme: dark) {
  
:root {
  --text: #f7f7f8;
  --text-inverse: #1e242a;
  --text-black: #1e242a;
  --text-white: #f7f7f8;
  
  --background: #1e242a;
  --primary: #{$dark-blue};
  --secondary: color-mix(in srgb, #{$dark-blue}, white 10%);
  --accent-dark: color-mix(in srgb, #{$dark-blue}, black 15%);
  --accent-light: color-mix(in srgb, #{$dark-blue}, white 15%);
  --border: #414e59;
}}

$font-size: 1.35rem;

@mixin spacing($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

html {
  color: var(--text);
  background-color: var(--background);
  
  font-family: Arial, Helvetica, sans-serif;
  @include spacing(0, 0);

  scroll-behavior: smooth;
  scroll-padding-top: 100px;

  * {
    box-sizing: border-box;
  }
}

body {
  display: block;
  @include spacing(0, 0);
}

section {
  @include spacing(0, 1.5lh 12vw);
}

p, li, span {
  margin: 0;
  font-size: $font-size;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

h2 {
  @include spacing(0 0 12px, 0);
  text-align: center;
  font-size: 1.6 * $font-size;
}