$light-white: #dbe5ee;
$light-gray: #96a2ab;
$light-black: #070708;
$light-blue: #203fd9;

$dark-white: #f7f7f8;
$dark-gray: #414e59;
$dark-black: #1e242a;
$dark-blue: #1f3ac4;

@mixin color($mode-inverse-color) {
  --secondary: color-mix(in srgb, var(--primary), #{$mode-inverse-color} 10%);
  --accent-dark: color-mix(in srgb, var(--primary), black 15%);
  --accent-light: color-mix(in srgb, var(--primary), white 15%);
}

/* Light Mode TBD
:root {
  --text: #{$light-black};
  --text-inverse: color-mix(in srgb, #{$light-white}, white 80%);
  --text-black: #{$light-black};
  --text-white: color-mix(in srgb, #{$light-white}, white 80%);

  --bg: #{$light-white};
  --primary: #{$light-blue};
  --border: #{$light-gray};
  @include color(black);
} */

:root {
  --text: #{$dark-white};
  --text-inverse: #{$dark-black};
  --text-black: #{$dark-black};
  --text-white: #{$dark-white};
  
  --bg: #{$dark-black};
  --primary: #{$dark-blue};
  --border: #{$dark-gray};
  @include color(white);

  --mixing-color: #000e40;
}

$font-size: 1.35rem;
$section-v-padding-d: 70px;
$section-v-padding-m: 50px;
$header-height: 68px;

@mixin spacing($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

html {
  color: var(--text);
  background-color: var(--bg);
  
  font-family: Arial, Helvetica, sans-serif;
  @include spacing(0, 0);

  scroll-behavior: smooth;
  scroll-padding-top: calc($section-v-padding-d + $header-height);
  scroll-snap-type: y proximity;

  * {
    box-sizing: border-box;
  }
}

body {
  display: block;
  @include spacing(0, 0);
  -webkit-tap-highlight-color: transparent;
}

section {
  @include spacing(0, $section-v-padding-d 5vw);
  white-space: pre-wrap;
}

p, li, span {
  margin: 0;
  font-size: $font-size;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

#contacts {
    position: absolute;
    top: $section-v-padding-d;
    left: 0;
    
    visibility: hidden;
    width: 10px;
    height: 10px;
    scroll-snap-align: start;
}

h2 {
  @include spacing(0 0 20px, 0);
  text-align: center;
  font-size: 1.6 * $font-size;

  scroll-snap-align: start;
}
h3 {
  text-align: start;
  font-size: 1.1 * $font-size;
}

.logo {
  height: 1.7lh;
  fill: var(--primary);
  stroke-width: 0;
}

@media (max-width: 1350px) {
  html {
    scroll-padding-top: calc($section-v-padding-m + $header-height);
  }

  #contacts {
    top: $section-v-padding-m;
  }
  
  section {
    @include spacing(0, $section-v-padding-m 5vw)
  }
}