$light-white: #c9d1da;
$light-gray: #a6b4bf;
$light-black: #070708;
$light-blue: #203fd9;

$dark-white: #f7f7f8;
$dark-gray: #414e59;
$dark-black: #1e242a;
$dark-blue: #1f3ac4;

@mixin color($mode-inverse-color) {
  --secondary: color-mix(in srgb, var(--primary), #{$mode-inverse-color} 10%);
  --accent-dark: color-mix(in srgb, var(--primary), black 15%);
  --accent-light: color-mix(in srgb, var(--primary), white 15%);
}

:root {
  --text: #{$light-black};
  --text-inverse: #{$light-white};
  --text-black: #{$light-black};
  --text-white: #{$light-white};

  --bg: #{$light-white};
  --primary: #{$light-blue};
  --border: #{$light-gray};
  @include color(black);
}

@media (prefers-color-scheme: dark) {
  
:root {
  --text: #{$dark-white};
  --text-inverse: #{$dark-black};
  --text-black: #{$dark-black};
  --text-white: #{$dark-white};
  
  --bg: #{$dark-black};
  --primary: #{$dark-blue};
  --border: #{$dark-gray};
  @include color(white);
}}

$font-size: 1.35rem;

@mixin spacing($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

html {
  color: var(--text);
  background-color: var(--bg);
  
  font-family: Arial, Helvetica, sans-serif;
  @include spacing(0, 0);

  scroll-behavior: smooth;
  scroll-padding-top: 100px;

  * {
    box-sizing: border-box;
  }
}

body {
  display: block;
  @include spacing(0, 0);
}

section {
  @include spacing(0, 1.5lh 12vw);
}

p, li, span {
  margin: 0;
  font-size: $font-size;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

h2 {
  @include spacing(0 0 12px, 0);
  text-align: center;
  font-size: 1.6 * $font-size;
}